/*Header*/

@keyframes moveButton {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(5px);
    }
}

@keyframes changeLogo1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes changeLogo2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}



/*Menu*/

@keyframes backAppear {
    0% {
        backdrop-filter: blur(00px);
        background-color: rgba(153, 153, 153, 0.03);
    }

    100% {
        backdrop-filter: blur(100px);
        background-color: rgba(49, 41, 41, 0.36);
    }
}

@keyframes backDisappear {
    0% {
        backdrop-filter: blur(100px);
        background-color: rgba(49, 41, 41, 0.36);
    }

    100% {
        backdrop-filter: blur(00px);
        background-color: rgba(153, 153, 153, 0.03);
    }
}

@keyframes menuAppear {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes menuDisappear {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}


@keyframes innerLogo1{
    0%,50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes innerLogo2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}