---
import Menu from "./menu.astro";
---

<Menu />
<main>
    <section class="logo">
        <a href="/">
            <svg
                id="svg"
                xml:space="preserve"
                width="292.7879"
                height="89.969223"
                viewBox="0 0 77.479248 23.827014"
                version="1.1"
                id="svg10"
                xmlns="http://www.w3.org/2000/svg"
                ><defs id="defs10"></defs>
                <path
                    d="m 44.413087,14.853925 c 0,0 -5.456,-0.957 -0.352,-8.0039999 5.192,-7.13399996 10.12,-3.393 10.12,-3.393 0,0 -1.672,-5.742 -8.624,-1.218 -6.952,4.437 -5.984,10.4399999 -5.984,10.4399999 0,0 0.088,2.088 2.024,2.436 1.848,0.348 2.816,-0.261 2.816,-0.261 z"
                    id="path1"></path>
                <path
                    d="m 41.069087,15.201925 c 0,0 5.72,1.914 9.592,-3.045 3.784,-4.9589999 1.408,-8.0039999 1.408,-8.0039999 l -0.352,-0.348 -0.352,-0.087 -0.44,-0.087 h -0.264 l 0.176,-0.087 0.264,-0.174 c 0,0 7.744,-0.435 2.376,8.8739999 -5.456,9.309 -11.792,4.176 -11.792,4.176 l -0.44,-0.609 z"
                    id="path2"></path>
                <path
                    d="m 61.148775,19.955676 -0.88665,0.456019 q -0.209744,-0.414562 -0.519595,-0.414562 -0.147775,0 -0.252647,0.09673 -0.104873,0.09212 -0.104873,0.239524 0,0.257951 0.619701,0.511295 0.853281,0.354681 1.148831,0.654087 0.29555,0.299406 0.29555,0.806094 0,0.64948 -0.495762,1.087074 -0.481459,0.414563 -1.163131,0.414563 -1.167898,0 -1.654125,-1.100894 l 0.915251,-0.409956 q 0.190677,0.322438 0.290782,0.409956 0.195445,0.175038 0.46716,0.175038 0.54343,0 0.54343,-0.47905 0,-0.276375 -0.41949,-0.515901 -0.162075,-0.07831 -0.324151,-0.152005 -0.162076,-0.0737 -0.328919,-0.152007 -0.467159,-0.221099 -0.657836,-0.442199 -0.243114,-0.280982 -0.243114,-0.723182 0,-0.584993 0.414723,-0.967312 0.424258,-0.382319 1.029658,-0.382319 0.891416,0 1.325207,0.889007 z"
                    id="text2"
                    aria-label="s"></path>
                <path
                    d="m 10.919453,0.38931316 h 3.239201 V 14.433425 H 10.919453 V 12.962686 Q 8.9272,14.837158 6.63396,14.837158 q -2.8952158,0 -4.7871389,-2.105176 -1.87759033,-2.148432 -1.87759033,-5.3638699 0,-3.1577624 1.87759033,-5.2629372 Q 3.7244115,0 6.5479634,0 8.984531,0 10.919453,2.0186608 Z M 3.2657635,7.3681121 q 0,2.0186609 1.0749563,3.2875339 1.1036218,1.283291 2.7805536,1.283291 1.7915939,0 2.8952156,-1.240035 1.103622,-1.283291 1.103622,-3.2586949 0,-1.9754038 -1.103622,-3.2586953 -1.1036217,-1.2544535 -2.86655,-1.2544535 -1.6625991,0 -2.7805537,1.2688725 -1.1036218,1.2832916 -1.1036218,3.1721813 z"
                    id="text3"
                    aria-label="a"></path>
                <path
                    d="m 16.631719,0.44866741 h 2.964824 V 1.7105477 q 0.816974,-0.94278412 1.449469,-1.29088903 0.645673,-0.36260928 1.528531,-0.36260928 1.172753,0 2.450921,0.84125354 l -1.35723,2.98790047 q -0.843327,-0.667201 -1.647124,-0.667201 -2.424567,0 -2.424567,4.0322152 v 7.3247074 h -2.964824 z"
                    id="text4"
                    aria-label="r"></path>
                <path
                    d="m 38.517353,13.260887 q 0,0.918115 -0.07072,1.610027 -0.05657,0.705218 -0.169713,1.237458 -0.339427,1.463661 -1.329421,2.514835 -1.866846,2.022512 -5.133826,2.022512 -2.75784,0 -4.53983,-1.39713 -1.838561,-1.437049 -2.121416,-3.978495 h 3.196266 q 0.183857,0.958032 0.60814,1.476966 0.989994,1.210847 2.885126,1.210847 3.493265,0 3.493265,-4.031719 v -1.809617 q -1.895132,1.822922 -4.370118,1.822922 -2.814411,0 -4.610543,-1.916064 -1.810275,-1.942676 -1.810275,-4.8566911 0,-2.8341788 1.68299,-4.8167734 1.810275,-2.10234848 4.780257,-2.10234848 2.60227,0 4.327689,1.82292248 V 0.60687811 h 3.182123 z m -3.05484,-6.1473732 q 0,-1.8894524 -1.074851,-3.0204627 -1.088993,-1.1576224 -2.786126,-1.1576224 -1.810275,0 -2.85684,1.2640703 -0.947565,1.1310103 -0.947565,2.9273209 0,1.7696984 0.947565,2.9007091 1.032423,1.237458 2.85684,1.237458 1.824418,0 2.885126,-1.250764 0.975851,-1.1310108 0.975851,-2.9007092 z"
                    id="text5"
                    aria-label="g"></path>
                <path
                    d="m 56.645767,0.73711329 h 3.513771 V 2.0541822 q 1.01509,-0.9951188 1.733461,-1.34633711 0.765222,-0.36585246 1.920861,-0.36585246 2.576766,0 4.075975,2.10731017 1.655377,-2.10731017 4.48201,-2.10731017 5.137915,0 5.137915,5.83900547 V 14.990725 H 73.980372 V 7.0736781 q 0,-2.0487738 -0.530971,-2.8975516 -0.546586,-0.8634118 -1.795927,-0.8634118 -1.452359,0 -2.123879,1.0243869 -0.655904,1.0243869 -0.655904,3.2926722 V 14.990725 H 65.344303 V 7.1175804 q 0,-3.8048657 -2.342514,-3.8048657 -1.483592,0 -2.17073,1.039021 -0.671521,1.039021 -0.671521,3.2780381 v 7.3609512 h -3.513771 z"
                    id="text6"
                    aria-label="m"></path>
                <path
                    d="m 66.02093,21.689257 h -3.208389 q 0.04137,0.529954 0.358531,0.843511 0.317161,0.30914 0.813588,0.30914 0.38611,0 0.63892,-0.176652 0.248214,-0.176651 0.565374,-0.65361 l 0.873344,0.468127 q -0.202248,0.331221 -0.427478,0.5697 -0.225231,0.234063 -0.482638,0.388634 -0.257406,0.150154 -0.556181,0.220815 -0.298775,0.07066 -0.648113,0.07066 -1.002047,0 -1.608791,-0.61828 -0.606744,-0.622697 -0.606744,-1.651691 0,-1.020164 0.588358,-1.651692 0.592954,-0.622697 1.572018,-0.622697 0.988257,0 1.562826,0.605031 0.569971,0.600616 0.569971,1.664941 z M 64.959128,20.87666 q -0.216038,-0.794931 -1.043416,-0.794931 -0.188458,0 -0.353934,0.05741 -0.165476,0.053 -0.303371,0.158986 -0.1333,0.101575 -0.229828,0.247312 -0.09652,0.145738 -0.14709,0.331222 z"
                    id="text7"
                    aria-label="e"></path>
                <path
                    d="m 69.901055,19.235691 h 0.978939 v 4.373633 h -0.978939 v -0.458018 q -0.602091,0.583749 -1.295146,0.583749 -0.87498,0 -1.446751,-0.655596 -0.567438,-0.669067 -0.567438,-1.670423 0,-0.983394 0.567438,-1.63899 0.567439,-0.655596 1.420762,-0.655596 0.73637,0 1.321135,0.628654 z m -2.313069,2.173345 q 0,0.628654 0.324869,1.023808 0.333533,0.399644 0.840328,0.399644 0.541449,0 0.874982,-0.386173 0.333532,-0.399644 0.333532,-1.014827 0,-0.615182 -0.333532,-1.014827 -0.333533,-0.390663 -0.866319,-0.390663 -0.502464,0 -0.840328,0.395154 -0.333532,0.399644 -0.333532,0.987884 z"
                    id="text8"
                    aria-label="a"></path>
                <path
                    d="m 73.208605,16.794608 v 6.800917 H 72.15195 v -6.800917 z"
                    id="text9"
                    aria-label="l"></path>
                <path
                    d="m 77.023226,19.972759 -0.929879,0.456425 q -0.219972,-0.414932 -0.544929,-0.414932 -0.15498,0 -0.264966,0.09682 -0.109986,0.09221 -0.109986,0.239739 0,0.25818 0.649916,0.511749 0.894883,0.354998 1.204843,0.654671 0.30996,0.299672 0.30996,0.806811 0,0.65006 -0.519933,1.088043 -0.504934,0.414932 -1.219842,0.414932 -1.22484,0 -1.734774,-1.101874 l 0.959875,-0.410321 q 0.199974,0.322725 0.304961,0.410321 0.204973,0.175193 0.489936,0.175193 0.569926,0 0.569926,-0.479477 0,-0.276621 -0.439942,-0.516359 -0.169979,-0.07837 -0.339957,-0.152141 -0.169977,-0.07377 -0.344955,-0.152142 -0.489936,-0.221298 -0.68991,-0.442594 -0.254967,-0.281232 -0.254967,-0.723825 0,-0.585515 0.434943,-0.968175 0.444942,-0.382659 1.07986,-0.382659 0.934879,0 1.38982,0.889798 z"
                    id="text10"
                    aria-label="s"></path>
            </svg>
        </a>
    </section>
    <section>
        <aside>
            <button id="menu-button" aria-label="Menu">
                <div id="btn1"></div>
                <div id="btn2"></div>
                <div id="btn3"></div>
            </button>
        </aside>
    </section>
</main>

<style>
    main {
        display: flex;
        justify-content: space-between;
        padding: 50px;
    }

    .logo img {
    }

    svg {
        animation: logo-to-black 0.5s;
        max-width: 150px;
        height: auto;
        z-index: 100;
        fill: rgba(19, 19, 19, 0.807);
    }

    .svg-white {
        animation: logo-to-white 0.5s;
        max-width: 150px;
        height: auto;
        z-index: 100;
        fill: rgba(255, 255, 255, 0.89);
    }

    aside {
        display: flex;
        justify-content: center;
        background-color: #0004;
        backdrop-filter: blur(10px);
        border-radius: 50px;
        padding: 10px;
        z-index: 100;
    }

    aside:hover {
        background-color: #0008;
    }

    button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.65rem;
        width: 3rem;
        height: 3rem;
        background-color: #0000;
        backdrop-filter: blur(10px);
        border-radius: 50px;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    button div {
        background-color: white;
        width: 95%;
        height: 3px;
        transition: all 0.3s ease-in-out;
        transform-origin: left;
    }

    .moveBtn {
        animation: moveButton 0.5s;
        transform: translateX(5px);
    }

    .btn1X {
        animation: changeLogo1 0.5s;
        transform: rotate(45deg);
    }

    .btn2X {
        animation: fadeOut 0.5s;
        opacity: 0%;
    }

    .btn3X {
        animation: changeLogo2 0.5s;
        transform: rotate(-45deg);
    }
</style>
