<section id="contextMenu" class="none">
    <aside>
        <ul>
            <li>Productos</li>
            <li>Sobre Nosotros</li>
            <li>Contacto</li>
        </ul>
        <ul>
            <li>Rascadores</li>
            <li>Juntas de Vástago</li>
            <li>Juntas de Pistón</li>
        </ul>
    </aside>
</section>

<style>
    section {
        width: 100%;
        height: 100%;
        background-color: rgba(153, 153, 153, 0.3);
        backdrop-filter: blur(100px);
        position: absolute;
        z-index: -1;
    }

    .divOpen {
        animation: backAppear 0.5s ease-in-out;
    }

    .divClose {
        animation: backDisappear 0.5s ease-in-out;
    }
</style>
